<app-navbar></app-navbar>
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">Mes cours</h3>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Afficher
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Tous</a></li>
        <li><a class="dropdown-item" href="#">4</a></li>
        <li><a class="dropdown-item" href="#">6</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4 d-flex align-items-stretch" *ngFor="let ue of ues">
      <app-ue [ue]="ue" class="w-100"></app-ue>
    </div>
  </div>
</div>
