<main>
  <div
    class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center bg-dark"
  >
    <img
      src="https://cms.mistral.ai/assets/920e56ee-25c5-439d-bd31-fbdf5c92c87f"
      style="width: 300px"
      alt="Non-authorised icon"
    />

    <div class="text-center">
      <h1 class="display-1 fw-bold text-danger">Erreur</h1>
      <p class="fs-3 text-light">⛔️ Accès non autorisé ⛔️</p>
      <p class="lead mb-4 text-light">
        Vous n'avez pas la permission d'accéder à cette page.<br />
        Si vous pensez qu'il s'agit d'une erreur, contactez l'administrateur.
      </p>
      <button class="btn btn-primary" (click)="goHome()">
        Retour à l'accueil
      </button>
    </div>
  </div>
</main>
