<main>
  <div
    class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center bg-light"
  >
    <div class="text-center">
      <h1 class="display-1 fw-bold text-danger">Erreur</h1>
      <p class="fs-3">⛔️ Accès non autorisé ou page introuvable</p>
      <p class="lead mb-4">
        Vous n'avez pas la permission d'accéder à cette page.<br />
        Si vous pensez qu'il s'agit d'une erreur, contactez l'administrateur.
      </p>
      <a routerLink="/" class="btn btn-primary"> Retour à l'accueil </a>
    </div>
  </div>
</main>
