<div class="table-responsive">
  <table class="styled-table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.nom }}</td>
        <td>{{ user.prenom }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <div class="d-flex align-items-center">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-warning">
              Modifier
            </button>
            <button
              type="button"
              class="btn btn-sm btn-danger ms-2"
              data-bs-toggle="modal"
              data-bs-target="#user-delete"
              (click)="openDeleteModal(user._id)"
            >
              Supprimer
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal pour update  -->

<!-- Modal pour delete  -->
<div
  class="modal fade"
  id="user-delete"
  tabindex="-1"
  aria-labelledby="userDelete"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userDelete">Confirmer la suppression</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Voulez-vous vraiment supprimer cet utilisateur ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="deleteUser.emit(selectedUserId ?? undefined)"
        >
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
