<div class="table-responsive">
  <table class="styled-table">
    <thead>
      <tr>
        <th scope="col">Code UE</th>
        <th scope="col">Name UE</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ue of ues">
        <td>{{ ue._id }}</td>
        <td>{{ ue.titre_ue }}</td>
        <td>
          <div class="d-flex align-items-center">
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-sm btn-warning"
              data-bs-toggle="modal"
              data-bs-target="#ue-modify"
              (click)="openEditModal(ue)"
            >
              Modifier
            </button>
            <button
              type="button"
              class="btn btn-sm btn-danger ms-2"
              data-bs-toggle="modal"
              data-bs-target="#ue-delete"
              (click)="openDeleteModal(ue._id)"
            >
              Supprimer
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal pour modification UE-->
<div
  class="modal fade"
  id="ue-modify"
  tabindex="-1"
  aria-labelledby="ue-modifyLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ue-modifyLabel">Modifier l'UE</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label fw-bold">Code UE</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="editedUe._id"
            name="edit_code_ue"
            aria-label="code-ue"
            aria-describedby="basic-addon1"
            readonly
          />
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Nom UE</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="editedUe.titre_ue"
            name="edit_titre_ue"
            aria-label="nom-ue"
            aria-describedby="basic-addon1"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Image UE</label>
          <input
            type="file"
            class="form-control"
            (change)="onEditUeImageSelected($event)"
            accept="image/*"
          />
          <div *ngIf="editedUe.image_ue">
            <small>Image actuelle : {{ editedUe.image_ue }}</small>
            <button
              type="button"
              class="btn btn-link text-danger p-0 ms-2"
              (click)="removeEditUeImage()"
            >
              Supprimer l’image
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>
        <button type="button" class="btn btn-success" (click)="emitUpdateUe()">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="ue-delete"
  tabindex="-1"
  aria-labelledby="ueDelete"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ueDelete">Confirmer la suppression</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Voulez-vous vraiment supprimer cet utilisateur ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="deleteUe.emit(selectedCodeUe ?? undefined)"
        >
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
