.styled-table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 12px;
  text-align: left;
}

.styled-table th,
.styled-table td {
  height: 10px;
  padding: 12px 15px;
  border: 1px solid #ddd;
  word-wrap: break-word;
  white-space: normal;
}

.styled-table thead tr {
  background-color: #010101;
  color: #ffffff;
  text-align: left;
}

.styled-table th:nth-child(1),
.styled-table td:nth-child(1) {
  min-width: 80px; /* Nom column */
  width: 20%;
}

.styled-table th:nth-child(2),
.styled-table td:nth-child(2) {
  min-width: 100px; /* Prénom column */
  width: 60%;
}

.styled-table th:nth-child(3),
.styled-table td:nth-child(3) {
  min-width: 150px; /* Email column */
  width: 20%;
}
