<div class="container mt-4">
  <div class="row">
    <!-- Les Professeurs -->
    <div>
      <table class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th>Prénom/Nom</th>
            <th>Email</th>
            <th>Roles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Akmal SABRI</td>
            <td><a href="mailto:akmal.sabri@utbm.fr">akmal.sabri@utbm.fr</a></td>
            <td>Enseignant</td>
          </tr>
          <tr>
            <td>Akmal SABRI</td>
            <td><a href="mailto:akmal.sabri@utbm.fr">akmal.sabri@utbm.fr</a></td>
            <td>Enseignant</td>
          </tr>
          <tr>
            <td>Akmal SABRI</td>
            <td><a href="mailto:akmal.sabri@utbm.fr">akmal.sabri@utbm.fr</a></td>
            <td>Enseignant</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Les eleves -->
    <div>
      <table class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th>Prénom/Nom</th>
            <th>Email</th>
            <th>Roles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Akmal SABRI</td>
            <td><a href="mailto:akmal.sabri@utbm.fr">akmal.sabri@utbm.fr</a></td>
            <td>Etudiant</td>
          </tr>
          <tr>
            <td>Akmal SABRI</td>
            <td><a href="mailto:akmal.sabri@utbm.fr">akmal.sabri@utbm.fr</a></td>
            <td>Etudiant</td>
          </tr>
          <tr>
            <td>Akmal SABRI</td>
            <td><a href="mailto:akmal.sabri@utbm.fr">akmal.sabri@utbm.fr</a></td>
            <td>Etudiant</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
