<button class="btn btn-secondary mb-3" (click)="showForm = !showForm" *ngIf="userRole === 'Enseignant'">
  {{ showForm ? 'Cacher le formulaire' : 'Ajouter Une Ressource' }}
</button>

<div [class.show]="showForm" class="form-container">
  <form [formGroup]="ressourceForm" (ngSubmit)="onSubmit()" class="p-4 border rounded shadow-sm bg-light">
    
    <div class="mb-3">
      <label for="titreRessource" class="form-label">Titre de la Ressource <span class="text-danger">*</span></label>
      <input
        type="text"
        id="titreRessource"
        class="form-control"
        formControlName="titre_ressource"
      />
      <div *ngIf="ressourceForm.get('titre_ressource')?.invalid && ressourceForm.get('titre_ressource')?.touched" class="text-danger small">
        Ce champ est obligatoire.
      </div>
    </div>

    <div class="mb-3">
      <label for="descRessource" class="form-label">Description</label>
      <input
        type="text"
        id="descRessource"
        class="form-control"
        formControlName="desc_ressource"
      />
    </div>

    <div class="mb-3">
      <label for="fichierJoint" class="form-label">Fichier joint</label>
      <input
        type="file"
        id="fichierJoint"
        class="form-control"
        #fileInput
        (change)="onFileChange($event)"
        accept=".pdf,.doc,.docx, .png, .jpg, .zip"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="ressourceForm.invalid"
    >
      Ajouter
    </button>
  </form>
</div>
