.note-card {
    position: relative;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.timestamp {
    background-color: #ccc;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    height: min-content;
}
.note-header i {
    margin-right: 0.25rem;
}
.note-actions {
    margin-left: 0.5rem;
    cursor: pointer;
}

.btn{
    height: min-content;
}