<div class="container mt-4" *ngFor="let c of cours">
  <div class="note-card bg-light bg-gradient shadow-sm">
    <div class="d-flex justify-content-between mb-2">
      <div class="d-flex align-items-center mb-2 w-auto">
        <strong class="me-2">
          <a *ngIf="c.fichier_joint" href="{{ rootUrl }}{{ c.fichier_joint }}" target="_blank" rel="noopener noreferrer">
          {{ c.titre_cours }}</a>
          <strong *ngIf="!c.fichier_joint">
          {{ c.titre_cours }}</strong>
        </strong>
        <button type="button" class="btn btn-sm btn-primary me-2" title="Edit">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button type="button" class="btn btn-sm btn-danger" title="Delete" (click)="deleteCours(c._id)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
      <div class="timestamp">{{ c.datetime_publier | date:'short' }}</div>
    </div>
    <p class="mb-0 text-muted">
      {{ c.desc_cours }}
    </p>
  </div>
</div>

<div class="container mt-4" *ngFor="let ressource of ressources">
  <div class="note-card bg-light bg-gradient shadow-sm">
    <div class="d-flex justify-content-between mb-2">
      <div class="d-flex align-items-center mb-2 w-auto">
        <strong class="me-2">
          <a *ngIf="ressource.fichier_joint" href="{{ rootUrl }}{{ ressource.fichier_joint }}" target="_blank" rel="noopener noreferrer">
          {{ ressource.titre_ressource }}</a>
          <strong *ngIf="!ressource.fichier_joint">
          {{ ressource.titre_ressource }}</strong>
        </strong>
        <button type="button" class="btn btn-sm btn-primary me-2" title="Edit">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button type="button" class="btn btn-sm btn-danger" title="Delete"  (click)="deleteRessource(ressource._id)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
      <div class="timestamp">{{ ressource.datetime_publier | date:'short' }}</div>
    </div>
    <p class="mb-0 text-muted">
      {{ ressource.desc_ressource }}
    </p>
  </div>
</div>