<div class="table-responsive">
  <table class="styled-table">
    <thead>
      <tr>
        <th scope="col">Utilisateur</th>
        <th scope="col">Email</th>
        <th scope="col">Date/Heure</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let log of logs | paginate : { itemsPerPage: 10, currentPage: page }
        "
      >
        <td>{{ log.userId?.nom }} {{ log.userId?.prenom }}</td>
        <td>{{ log.email }}</td>
        <td>{{ log.timestamp | date : "short" }}</td>
        <td>{{ log.status }}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    class="d-flex justify-content-center align-items-center"
    (pageChange)="page = $event"
  ></pagination-controls>
</div>
