<div class="container mt-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'post'"
        (click)="selectTab('post')"
      >
        <i class="bi bi-mortarboard-fill"></i> Course
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'discussions'"
        (click)="selectTab('discussions')"
      >
        <i class="bi bi-people-fill"></i> Discussions
      </a>
    </li>
  </ul>

  <div class="mt-3">
    <app-section *ngIf="selectedTab === 'post'"></app-section>
    <app-discussions *ngIf="selectedTab === 'discussions'"></app-discussions>
  </div>
</div>
