<app-navbar></app-navbar>
<div class="container mt-4">
  <h1>{{ ueId }} : {{ ueData?.titre_ue }}</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'post'"
        (click)="selectTab('post')"
      >
        <i class="bi bi-mortarboard-fill"></i> Course
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'discussions'"
        (click)="selectTab('discussions')"
      >
        <i class="bi bi-chat-dots-fill"></i> Discussions
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'participants'"
        (click)="selectTab('participants')"
      >
        <i class="bi bi-people-fill"></i> Participants
      </a>
    </li>    
  </ul>

  <div class="mt-3">
    <app-section *ngIf="selectedTab === 'post'"
    [id_ue]="ueData?.id_ue"
    [cours]="ueData?.cours"
    [ressources]="ueData?.ressources"
    [devoirs]="ueData?.devoirs"></app-section>
    <app-discussions *ngIf="selectedTab === 'discussions'"
    [forums]="ueData?.forums"></app-discussions>
    <app-participants *ngIf="selectedTab === 'participants'">
    </app-participants>
  </div>
</div>
