main {
  min-height: 75vh;
  margin: 3em 5vw;
  padding: 3em;
  background-color: white;
  border: 0.5px solid lightgray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 3px solid #007bff;
}
.nav-link {
  color: #007bff !important;
  cursor: pointer;
}
.nav-tabs {
  border-bottom: 1px solid #ccc;
}

.breadcrumb {
  padding: 15px;
  background-color: lightgrey;
  width: fit-content;
  border-radius: 10px;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 0.5rem;
}
.breadcrumb-item a {
  text-decoration: none;
}
.breadcrumb-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
