<nav *ngIf="role" class="navbar navbar-expand-lg sticky-top z-9999">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
        src="../assets/img/utbm-blanc.png"
        alt="Logo UTBM"
        width="auto"
        height="30"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon text-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            *ngIf="role !== 'Admin'"
            class="nav-link text-light"
            routerLink="/mes-cours"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="bi bi-mortarboard-fill me-2"></i>
            Mes Cours
          </a>
        </li>
        <li *ngIf="role === 'Admin'" class="nav-item">
          <a
            class="nav-link text-light"
            routerLink="/espace-admin"
            routerLinkActive="active"
          >
            <i class="bi bi-database-fill-lock me-2"></i>
            Espace Admin
          </a>
        </li>
      </ul>
      <!-- Right side user info -->
      <div class="d-flex align-items-center">
        <a
          class="nav-link me-2 text-light"
          routerLink="/profile"
          routerLinkActive="active"
          >{{nomPrenom}}</a
        >
        <button class="btn btn-link p-0" title="Logout" (click)="logout()">
          <i class="bi bi-box-arrow-right fs-5 text-light"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
