<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../assets/img/utbm.png"
        alt="Bootstrap"
        width="auto"
        height="30"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/mes-cours"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="bi bi-mortarboard-fill me-2"></i>
            Mes Cours
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/espace-admin"
            routerLinkActive="active"
          >
            <i class="bi bi-database-fill-lock me-2"></i>
            Espace Admin
          </a>
        </li>
      </ul>
      <!-- Right side user info -->
      <div class="d-flex align-items-center">
        <span class="me-2 fw-semibold">Isaac Kasyful</span>
        <button class="btn btn-link p-0" title="Logout" (click)="logout()">
          <i class="bi bi-box-arrow-right fs-5"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
