<app-navbar></app-navbar>
<main>
  <div class="header pb-3">
    <h2>Espace d'administration ⚙️</h2>
  </div>
  <div class="container-fluid">
    <ul class="nav nav-tabs flex-nowrap" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="gestionUser"
          data-bs-toggle="tab"
          data-bs-target="#user"
          type="button"
          role="tab"
          aria-controls="user"
          aria-selected="true"
        >
          Gestion des utilisateurs
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="gestionUe"
          data-bs-toggle="tab"
          data-bs-target="#ue"
          type="button"
          role="tab"
          aria-controls="ue"
          aria-selected="false"
        >
          Gestion des UEs
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="user"
        role="tabpanel"
        aria-labelledby="gestionUser"
      >
        <div class="d-flex align-items-center justify-content-between mt-4">
          <h5 class="fw-bold">Liste des utilisateurs</h5>
          <button
            class="btn btn-sm btn-success"
            data-bs-toggle="modal"
            data-bs-target="#addUserModal"
          >
            Ajouter utilisateur
          </button>
        </div>
        <!-- Composant pour la table des utilisateurs -->
        <app-user-table
          [users]="users"
          (deleteUser)="deleteUser($event)"
          (updateUser)="updateUser($event)"
        ></app-user-table>
      </div>
      <div
        class="tab-pane fade"
        id="ue"
        role="tabpanel"
        aria-labelledby="gestionUe"
      >
        <div class="d-flex align-items-center justify-content-between mt-4">
          <h5 class="fw-bold">Liste des UEs</h5>
          <button
            class="btn btn-sm btn-success"
            data-bs-toggle="modal"
            data-bs-target="#addUeModal"
          >
            Ajouter UE
          </button>
        </div>
        <!-- Composant pour la table des UEs -->
        <app-ue-table
          [ues]="ues"
          (deleteUe)="deleteUe($event)"
          (updateUe)="updateUe($event)"
        ></app-ue-table>
      </div>
    </div>
  </div>
</main>

<!-- Modal d'ajout UE -->
<!-- Modal d'ajout UE -->
<div
  class="modal fade"
  id="addUeModal"
  tabindex="-1"
  aria-labelledby="addUeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form class="modal-content" (ngSubmit)="onAddUe()" #addUeForm="ngForm">
      <div class="modal-header">
        <h5 class="modal-title" id="addUeModalLabel">Ajouter une UE</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Code UE</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newUe._id"
            name="_id"
            required
            pattern="^[A-Z]{2}[0-9]{1}([0-1]{1}||[A-Z]{1})"
            #codeUe="ngModel"
          />
          <div
            *ngIf="codeUe.invalid && codeUe.touched"
            class="text-danger mt-1"
          >
            <span *ngIf="codeUe.errors?.['required']">Code UE obligatoire</span>
            <span *ngIf="codeUe.errors?.['pattern']">
              Format code UE n'est pas correct
            </span>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Nom UE</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newUe.titre_ue"
            name="titre_ue"
            required
            #titreUe="ngModel"
          />
          <div
            *ngIf="titreUe.invalid && titreUe.touched"
            class="text-danger mt-1"
          >
            Nom UE obligatoire
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Image UE</label>
          <input
            type="file"
            class="form-control"
            (change)="onUeImageSelected($event)"
            accept="image/*"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="addUeForm.invalid"
        >
          Ajouter
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal d'ajout utilisateur -->
<div
  class="modal fade"
  id="addUserModal"
  tabindex="-1"
  aria-labelledby="addUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form class="modal-content" (ngSubmit)="onAddUser()" #addUserForm="ngForm">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">
          Ajouter un utilisateur
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Nom</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newUser.nom"
            name="nom"
            required
            #nom="ngModel"
          />
          <div class="text-danger mt-1" *ngIf="nom.touched">
            Nom est obligatoire
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Prénom</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newUser.prenom"
            name="prenom"
            required
            #prenom="ngModel"
          />
          <div class="text-danger mt-1" *ngIf="prenom.touched">
            Prenom est obligatoire
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="newUser.email"
            name="email"
            placeholder="prenom-nom@utbm.fr"
            required
            #email="ngModel"
          />
          <div class="text-danger mt-1" *ngIf="email.touched">
            <ul class="mb-0" style="list-style: none; padding-left: 0">
              <li>
                <span [ngClass]="isEmailValid ? 'text-success' : 'text-danger'">
                  {{ isEmailValid ? "✅" : "❌" }}
                </span>
                Format email
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="newUser.password"
            name="password"
            required
            #password="ngModel"
          />
          <div class="text-danger mt-1" *ngIf="password.touched">
            <ul class="mb-0" style="list-style: none; padding-left: 0">
              <li>
                <span
                  [ngClass]="
                    isPasswordLongEnough ? 'text-success' : 'text-danger'
                  "
                >
                  {{ isPasswordLongEnough ? "✅" : "❌" }}
                </span>
                10 caractères minimum
              </li>
              <li>
                <span [ngClass]="hasUppercase ? 'text-success' : 'text-danger'">
                  {{ hasUppercase ? "✅" : "❌" }}
                </span>
                Au moins une majuscule
              </li>
              <li>
                <span [ngClass]="hasLowercase ? 'text-success' : 'text-danger'">
                  {{ hasLowercase ? "✅" : "❌" }}
                </span>
                Au moins une minuscule
              </li>
              <li>
                <span [ngClass]="hasNumber ? 'text-success' : 'text-danger'">
                  {{ hasNumber ? "✅" : "❌" }}
                </span>
                Au moins un chiffre
              </li>
              <li>
                <span
                  [ngClass]="hasSpecialChar ? 'text-success' : 'text-danger'"
                >
                  {{ hasSpecialChar ? "✅" : "❌" }}
                </span>
                Au moins un caractère spécial
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Rôle</label>
          <select
            class="form-select"
            [(ngModel)]="newUser.role"
            name="role"
            required
          >
            <option value="Etudiant">Etudiant</option>
            <option value="Enseignant">Enseignant</option>
            <option value="Admin">Admin</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="addUserForm.invalid"
        >
          Ajouter
        </button>
      </div>
    </form>
  </div>
</div>
