<app-navbar></app-navbar>
<main>
  <div class="header pb-3">
    <h2>Administrateur ⚙️</h2>
  </div>
  <div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="gestionUser"
          data-bs-toggle="tab"
          data-bs-target="#user"
          type="button"
          role="tab"
          aria-controls="user"
          aria-selected="true"
        >
          Gestion des utilisateurs
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="gestionUe"
          data-bs-toggle="tab"
          data-bs-target="#ue"
          type="button"
          role="tab"
          aria-controls="ue"
          aria-selected="false"
        >
          Gestion des UEs
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="user"
        role="tabpanel"
        aria-labelledby="gestionUser"
      >
        <div class="d-flex align-items-center justify-content-between mt-3">
          <h5 class="fw-bold">Liste des utilisateurs</h5>
          <button class="btn btn-sm btn-success">Ajouter utilsateur</button>
        </div>
        <!-- Composant pour la table des utilisateurs -->
        <app-user-table></app-user-table>
      </div>
      <div
        class="tab-pane fade"
        id="ue"
        role="tabpanel"
        aria-labelledby="gestionUe"
      >
        <div class="d-flex align-items-center justify-content-between mt-3">
          <h5 class="fw-bold">Liste des UEs</h5>
          <button class="btn btn-sm btn-success">Ajouter UE</button>
        </div>
        <!-- Composant pour la table des UEs -->
        <app-ue-table></app-ue-table>
      </div>
    </div>
  </div>
</main>
