.card {
  height: 170px;
}
.card-title {
  font-size: 1.05rem;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pg-bar{
  height: 24px;
  width: 100%;
  max-width: 220px;
  border-radius: 50px;
  background-color: #e9ecef;
}