<section class="vh-100" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <!-- Titre  -->
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  S'inscrire
                </p>

                <!-- Form : -->
                <form
                  [formGroup]="registerForm"
                  (ngSubmit)="register()"
                  class="mx-1 mx-md-4"
                >
                  <!-- Champ : Nom -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <input
                        formControlName="nom"
                        type="text"
                        name="Nom"
                        class="form-control"
                        placeholder="Nom"
                        required
                      />
                      <!-- Error message shown only if invalid and submitted -->
                      <div
                        *ngIf="
                          registerForm.controls['nom'].invalid &&
                          (registerForm.controls['nom'].touched ||
                            registerForm.controls['nom'].dirty)
                        "
                        class="text-danger mt-1"
                      >
                        Nom is required.
                      </div>
                    </div>
                  </div>

                  <!-- Champ : Prenom -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <input
                        formControlName="prenom"
                        type="text"
                        name="Prenom"
                        class="form-control"
                        placeholder="Prenom"
                        required
                      />
                      <!-- Error message shown only if invalid and submitted -->
                      <div
                        *ngIf="
                          registerForm.controls['prenom'].invalid &&
                          (registerForm.controls['prenom'].touched ||
                            registerForm.controls['prenom'].dirty)
                        "
                        class="text-danger mt-1"
                      >
                        Prenom is required.
                      </div>
                    </div>
                  </div>

                  <!-- Champ : Email -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <input
                        formControlName="email"
                        type="email"
                        id="form3Example3c"
                        class="form-control"
                        name="email"
                        placeholder="Email"
                        required
                      />
                      <div
                        *ngIf="registerForm.controls['email']?.errors?.['required'] && (registerForm.controls['email'].touched || registerForm.controls['email'].dirty)"
                        class="text-danger mt-1"
                      >
                        Email is required.
                      </div>
                      <div
                        *ngIf="registerForm.controls['email']?.errors?.['email'] && (registerForm.controls['email'].touched || registerForm.controls['email'].dirty)"
                        class="text-danger mt-1"
                      >
                        Invalid email format.
                      </div>
                    </div>
                  </div>

                  <!-- Champ : Mot de Passe -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0 position-relative"
                    >
                      <input
                        formControlName="password"
                        type="password"
                        id="form3Example4c"
                        class="form-control pe-5"
                        name="password"
                        placeholder="Mot de Passe"
                        required
                      />
                      <div
                        *ngIf="
                          registerForm.controls['password'].invalid &&
                          (registerForm.controls['password'].touched ||
                            registerForm.controls['password'].dirty)
                        "
                        class="text-danger mt-1"
                      >
                        Password is required.
                      </div>
                    </div>
                  </div>

                  <!-- Champ : Role -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <select
                        class="form-select"
                        formControlName="role"
                        required
                      >
                        <option *ngFor="let role of roles" [value]="role">
                          {{ role }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <!-- Button Sauvergarder -->
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="button"
                      data-mdb-button-init
                      data-mdb-ripple-init
                      class="btn btn-primary btn-lg"
                      (click)="register()"
                      [disabled]="registerForm.invalid"
                      [class.disabled]="registerForm.invalid"
                    >
                      S'incrire
                    </button>
                  </div>
                </form>

                <!-- Toast Container -->
                <div
                  class="position-fixed top-0 end-0 p-3"
                  style="z-index: 1055"
                >
                  <div
                    #liveToast
                    class="toast align-items-center text-white border-0"
                    [ngClass]="
                      toastType === 'success' ? 'bg-success' : 'bg-danger'
                    "
                    role="alert"
                    aria-live="assertive"
                    aria-atomic="true"
                  >
                    <div class="d-flex">
                      <div class="toast-body">
                        {{ toastMessage }}
                      </div>
                      <button
                        type="button"
                        class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast"
                        aria-label="Close"
                      ></button>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
